.header {
   text-align: center;
}

.f-buttom {
   padding: 0.25rem;
}

.css-fix {
   white-space: pre-wrap;
}

.t-ali-cen {
   text-align: center;
}

.d-flex {
   display: flex;
}

.ali-item-flex-end {
   align-items: flex-end
}

.d-inline-gird {
   display: inline-grid;
}

.g-2fr {
   grid-template-columns: 1fr 1fr;
}

form.add-form {
   display: inline-grid;
   grid-template-columns: auto auto;
   gap: 0.5rem;
   margin: 0.5rem 0;
   align-items: baseline;
}

form.add-form> :nth-child(odd) {
   font-size: 1rem;
   padding-right: 0.5rem;
   text-align: right;
}

form.add-form> :nth-child(even) {
   padding: 0.5rem;
   width: 250px;
}

form.add-form>div.rebuttom {
   padding: 00;
}

div.rebuttom {
   display: flex;
   padding: 0;
   justify-content: flex-start;
   gap: 0.5rem;
}

div.rebuttom>input {
   width: 60px;
   height: 30px;
}

section.local-Timer {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   gap: 1rem;
}

section.local-Timer>div>* {
   display: inline-block;
}

section.read-table {
   padding-top: .25rem;
}


tr.sheets-data-format>:nth-child(1) {
   text-align: left;
}

tr.sheets-data-format>:nth-child(3)>p {
   display: flex;
   text-align: left;
   gap: 10px;
}

tr.sheets-data-format>:nth-child(3)>p>:nth-child(1) {
   text-align: right;
   width: 55px;
}

tr.sheets-data-format>:nth-child(3)>p>:nth-child(2) {
   text-align: left;
}

tr.sheets-data-format>:nth-child(3)>p>:nth-child(3) {
   text-align: left;
}

tr.sheets-data-format>:nth-child(4) {
   text-align: center;
}

tr.sheets-data-format>:nth-child(5) {
   text-align: center;
}

tr.sheets-data-format>:nth-child(6) {
   text-align: center;
}

tr.sheets-data-format>:nth-child(8) {
   text-align: left;
}

.create-form {
   padding: 0 1rem;
}

.EditDelSheet {
   display: flex;
   gap:0.5rem;
}
.EditDelSheet>input[type=button] {
   padding: 0.25rem;
}