#root {
   padding-top: 1rem;
}

table{
   margin: .25rem auto 0;
   background-color: #fff;
}

th,td{
   padding: 0.25rem 0.5rem;
   background-color: #242424;
}

@media screen and (max-width: 400px) {
   th, td {padding: 0.25rem}
}
